---
- hosts: localhost
  gather_facts: false
  roles:
    - role: host_profiles_enforce
      vars:
        vcenter_hostname: "vcenter.example.local"
        vcenter_username: "{{ lookup('env','VCENTER_USERNAME') }}"
        vcenter_password: "{{ lookup('env','VCENTER_PASSWORD') }}"
        vcenter_validate_certs: false

        profile_name: "ESXi-Std"
        capture_from_reference: true
        reference_host: "esxi01.lab.local"
        replace_existing_profile: true

        attach_to_cluster: "Compute-Cluster"
        ensure_maintenance_mode: true
        evacuate_vms: true
        mm_timeout: 3600
        remediate: true
