---

dragos_base_url: "https://tenant.dragos.com"
dragos_token: "{{ lookup('env','DRAGOS_TOKEN') }}"
dragos_verify_ssl: true
page_size: 500
artifacts_dir: "/tmp/dragos-artifacts"
dry_run: true

topology_gold_path: "/etc/dragos/topology_gold.json"
