---

- name: Ensure artifacts directory exists
  ansible.builtin.file:
    path: "{{ artifacts_dir }}"
    state: directory
    mode: "0755"

- include_tasks: servicenow_cmdb.yml
- include_tasks: servicenow_incidents.yml
